<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Strawberry</title>
    <link rel="stylesheet" href=    "../css/style1.css">
    <link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet'>
    <link href='http://fonts.googleapis.com/css?family=Great+Vibes' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/css2?family=Flamenco:wght@300&display=swap" rel="stylesheet">
  </head>
  <body>
    <nav class="navbar">
      <div class="row clearfix">
          <a href="#" class="logo ">Cake n Bake</a>
          <ul class="links">
              <li class="sign"><a href="/signin">SignIn/ Sign up</a></li>
              <!-- <li class="signup"><a href="signin.html">SignUp</a></li> -->
              <li class="ocake"><a href="#">Occasion Cake</a>
                <ul class="dropmenu" id="occasion">
                  <li><a href="birthday.html" >Birthday Cakes</a></li>
                  <li><a href="anniversary.html">Anniversary Cakes</a></li>
                  <li><a href="christmas.html">Christmas Cakes</a></li>
                  <li><a href="retirement.html">Retirement Cakes</a></li>
                  <li><a href="valentine.html">Valentine's Cakes</a></li>>
              </ul>
              </li>
              <li class="fcake"><a href="#">Cake flavours</a>
                <ul class="dropmenu " id="flavours">
                  <li><a href="chocolate.html" >Chocolate Cake</a></li>
                  <li><a href="redvelvet.html">Red Velvet Cake</a></li>
                  <li><a href="vanilla.html">Vanilla Cake</a></li>
                  <li><a href="butterscotch.html">Butterscotch Cake</a></li>
                  <li><a href="fruit.html">Fresh Fruit Cake</a></li>
                  <li><a href="kitkat.html">Kitkat Cake</a></li>
                  <li><a href="pineapple.html">Pineapple Cake</a></li>
                  <li><a href="blackforest.html">Black Forest Cake</a></li>
                  <li><a href="coffee.html">Coffee Cake</a></li>
                  <li><a href="oreo.html">Oreo Cake</a></li>
                  <li><a href="strawberry.html">Strawberry Cake</a></li>
                  <li><a href="blueberry.html">Blueberry Cake</a></li>
              </ul>
              </li> 
              <li class="cart"><a href="cart.html">Cart</a></li>

          </ul>
      </div>
  </nav>
  
  <div id="border" class="picture grid">
    <div class="chocoi">
      <h1>Strawberry Cake Order Online</h1>
    <h3>Just like the monsoon is incomplete without rain, any celebration is and will always be incomplete<br> with a chocolate decadence. Full of heavenly cocoa, these are now available from a simple melt in<br> mouth chocolate cake to refined versions of chocolate fudge cake, Ferrero Rocher jam-packed<br> indulgence,choco chips cake, choco-truffle and many more.</h3>
    <img src="/images/straw.jpg" class="chocolateimg">
  </div>
  <!-- <div class="chocoimg">
    <a href="chocolate.html"> <img src="https://i7.fnp.com/assets/images/custom/cake-2020/cakes-by-flavor/1-Chocolate-Cakes.jpg" alt=""></img></a>
  </div> -->
    
    <div class="row">
      <div class="col">
        <a href="chocolate.html"> <img src="/images/strawberry1.jpg" alt="" class="center"></img></a>
        <h3 class="name1">Strawberry Cake</h3>
        <div class="box">
          <label class="lprice">Price</label>
          <select name="Kg" class="cost">
            <option>0.5 KG  Rs/-399</option>
            <option>1 KG  Rs/-699</option>
            <option>2 KG  Rs/-1500</option>
          </select>
        </div>
        <a href="cart.html" class="btn">ADD</a>
      </div>

      <div class="col">
        <img src="/images/strawberry2.jpg" alt=""class="center"></img>
        <h3 class="name1">Rosssy Delight</h3>
        <div class="box">
          <label class="lprice">Price</label>
          <select name="Kg" class="cost">
            <option>0.5 KG  Rs/-399</option>
            <option>1 KG  Rs/-699</option>
            <option>2 KG  Rs/-1500</option>
          </select>
        </div>
        <a href="cart.html" class="btn">ADD</a>
      </div>

      <div class="col">
        <img src="/images/strawberry3.jpg" alt=""class="center"></img>
        <h3 class="name1">Delicious Swirls</h3>
        <div class="box">
          <label class="lprice">Price</label>
          <select name="Kg" class="cost">
            <option>0.5 KG  Rs/-399</option>
            <option>1 KG  Rs/-699</option>
            <option>2 KG  Rs/-1500</option>
          </select>
        </div>
        <a href="cart.html" class="btn">ADD</a>

      </div>

      <div class="col">
        <img src="/images/strawberry4.jpg" alt=""class="center"></img>
        <h3 class="name1">Strawberry Delicacy</h3>
        <div class="box">
          <label class="lprice">Price</label>
          <select name="Kg" class="cost">
            <option>0.5 KG  Rs/-399</option>
            <option>1 KG  Rs/-699</option>
            <option>2 KG  Rs/-1500</option>
          </select>
        </div>
        <a href="cart.html" class="btn">ADD</a>


      </div>

    </div>

    <div class="row">
      <div class="col">
        <img src="/images/strawberry5.jpg" alt=""class="center"></img>
        <h3 class="name1">Strawberry and Oreo Jar Cake</h3>
        <div class="box">
          <label class="lprice">Price</label>
          <select name="Kg" class="cost">
            <option>2Pcs  Rs/-399</option>
            <option>4Pcs  Rs/-799</option>
            <option>6Pcs  Rs/-999</option>
          </select>
        </div>
        <a href="cart.html" class="btn">ADD</a>
      </div>

      <div class="col">
        <img src="/images/strawberry6.jpg" alt=""class="center"></img>
        <h3 class="name1">Half Pound of Happiness</h3>
        <div class="box">
          <label class="lprice">Price</label>
          <select name="Kg" class="cost">
            <option>0.5 KG  Rs/-399</option>
            <option>1 KG  Rs/-699</option>
            <option>2 KG  Rs/-1500</option>
          </select>
        </div>
        <a href="cart.html" class="btn">ADD</a>
      </div>
      <div class="col">
        <img src="/images/strawberry7.jpg" alt=""class="center"></img>
        <h3 class="name1">Berry Rush</h3>
        <div class="box">
          <label class="lprice">Price</label>
          <select name="Kg" class="cost">
            <option>0.5 KG  Rs/-399</option>
            <option>1 KG  Rs/-699</option>
            <option>2 KG  Rs/-1500</option>
          </select>
        </div>
        <a href="cart.html" class="btn">ADD</a>
      </div>

      <div class="col">
        <img src="/images/strawberry8.jpg" alt=""class="center"></img>
        <h3 class="name1">Sweet Strawberry Vegan Cake</h3>
        <div class="box">
          <label class="lprice">Price</label>
          <select name="Kg" class="cost">
            <option>0.5 KG  Rs/-399</option>
            <option>1 KG  Rs/-699</option>
            <option>2 KG  Rs/-1500</option>
          </select>
        </div>
        <a href="cart.html" class="btn">ADD</a>
      </div>

    </div>

    <div class="row">
      <div class="col">
        <img src="/images/strawberry9.jpg" alt=""class="center"></img>
        <h3 class="name1">Sweet Symphony</h3>
        <div class="box">
          <label class="lprice">Price</label>
          <select name="Kg" class="cost">
            <option>0.5 KG  Rs/-399</option>
            <option>1 KG  Rs/-699</option>
            <option>2 KG  Rs/-1500</option>
          </select>
        </div>
        <a href="cart.html" class="btn">ADD</a>
      </div>

      <div class="col">
        <img src="/images/strawberry10.jpg" alt=""class="center"></img>
        <h3 class="name1">Strawberry Fruit Cake</h3>
        <div class="box">
          <label class="lprice">Price</label>
          <select name="Kg" class="cost">
            <option>0.5 KG  Rs/-399</option>
            <option>1 KG  Rs/-699</option>
            <option>2 KG  Rs/-1500</option>
          </select>
        </div>
        <a href="cart.html" class="btn">ADD</a>
      </div>
      <div class="col">
        <img src="/images/strawberry11.jpeg" alt=""class="center"></img>
        <h3 class="name1">Strawberry Eggless Cake</h3>
        <div class="box">
          <label class="lprice">Price</label>
          <select name="Kg" class="cost">
            <option>0.5 KG  Rs/-399</option>
            <option>1 KG  Rs/-699</option>
            <option>2 KG  Rs/-1500</option>
          </select>
        </div>
        <a href="cart.html" class="btn">ADD</a>
      </div>

      <div class="col">
        <img src="/images/strawberry12.jpg" alt=""class="center"></img>
        <h3 class="name1">Heart Shaped Strawberry Rose Cake</h3>
        <div class="box">
          <label class="lprice">Price</label>
          <select name="Kg" class="cost">
            <option>0.5 KG  Rs/-399</option>
            <option>1 KG  Rs/-699</option>
            <option>2 KG  Rs/-1500</option>
          </select>
        </div>
        <a href="cart.html" class="btn">ADD</a>
      </div>

    </div>

    </div>

  </div>

  </body>

</html>
